<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <appSettings>
    <add key="versionType" value="1" />
    <add key="Col" value="0" />
    <add key="Row" value="0" />
    <add key="MotoDirct-1" value="0" />
    <add key="MotoDirct2" value="0" />
    <add key="MotoDirct4" value="0" />
    <add key="MotoDirct3" value="1" />
    <add key="MotoDirct1" value="1" />
  </appSettings>
</configuration>
